In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

In [4]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,3/1/2020,3/1/2020 0:00,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,2/9/2020,2/8/2020 0:00,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020,11/4/2020 0:00,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,5/10/2023,3/10/2020 0:00,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,9/9/2020,9/9/2020 0:00,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005198 entries, 0 to 1005197
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1005198 non-null  int64
 1   Date Rptd       1005198 non-null  object
 2   DATE OCC        1005198 non-null  object
 3   TIME OCC        1005198 non-null  int64
 4   AREA            1005198 non-null  int64
 5   AREA NAME       1005198 non-null  object
 6   Rpt Dist No     1005198 non-null  int64
 7   Part 1-2        1005198 non-null  int64
 8   Crm Cd          1005198 non-null  int64
 9   Crm Cd Desc     1005198 non-null  object
 10  Mocodes         853438 non-null   object
 11  Vict Age        1005198 non-null  int64
 12  Vict Sex        860416 non-null   object
 13  Vict Descent    860404 non-null   object
 14  Premis Cd       1005182 non-null  float64
 15  Premis Desc     1004610 non-null  object
 16  Weapon Used Cd  327280 non-null   float64
 17  Weapon Desc     327280 non-null   object
 18  Status          1005197 non-null  object
 19  Status Desc     1005198 non-null  object
 20  Crm Cd 1        1005187 non-null  float64
 21  Crm Cd 2        69159 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1005198 non-null  object
 25  Cross Street    154243 non-null   object
 26  LAT             1005198 non-null  float64
 27  LON             1005198 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

In [6]:
rename_columns = {
    'DR_NO': 'Crime_Case_ID',
    'Date Rptd': 'Reported_Date',
    'DATE OCC': 'Occurred_Date',
    'TIME OCC': 'Occurred_Time_Hour',
    'AREA': 'Area_Code',
    'AREA NAME': 'Area_Name',
    'Rpt Dist No': 'District_SubDivision_Code',
    'Part 1-2': 'Crime_Severity_Part',
    'Crm Cd': 'Crime_Code',
    'Crm Cd Desc': 'Crime_Description',
    'Mocodes': 'Crime_Method_Codes',
    'Vict Age': 'Victim_Age',
    'Vict Sex': 'Victim_Gender',
    'Vict Descent': 'Victim_Ethnicity',
    'Premis Cd': 'Premises_Code',
    'Premis Desc': 'Premises_Description',
    'Weapon Used Cd': 'Weapon_Code',
    'Weapon Desc': 'Weapon_Description',
    'Status': 'Case_Status_Code',
    'Status Desc': 'Case_Status_Description',
    'Crm Cd 1': 'Additional_Crime_Code_1',
    'Crm Cd 2': 'Additional_Crime_Code_2',
    'Crm Cd 3': 'Additional_Crime_Code_3',
    'Crm Cd 4': 'Additional_Crime_Code_4',
    'LOCATION': 'Crime_Location_Address',
    'Cross Street': 'Nearest_Cross_Street',
    'LAT': 'Latitude',
    'LON': 'Longitude'
}

# Apply renaming
df.rename(columns=rename_columns, inplace=True)

In [7]:
df.isna().sum()

Crime_Case_ID                      0
Reported_Date                      0
Occurred_Date                      0
Occurred_Time_Hour                 0
Area_Code                          0
Area_Name                          0
District_SubDivision_Code          0
Crime_Severity_Part                0
Crime_Code                         0
Crime_Description                  0
Crime_Method_Codes            151760
Victim_Age                         0
Victim_Gender                 144782
Victim_Ethnicity              144794
Premises_Code                     16
Premises_Description             588
Weapon_Code                   677918
Weapon_Description            677918
Case_Status_Code                   1
Case_Status_Description            0
Additional_Crime_Code_1           11
Additional_Crime_Code_2       936039
Additional_Crime_Code_3      1002884
Additional_Crime_Code_4      1005134
Crime_Location_Address             0
Nearest_Cross_Street          850955
Latitude                           0
Longitude                          0
dtype: int64

## Crime method codes and its relation with crime Description

In [8]:
df['Crime_Method_Codes'].value_counts()

Crime_Method_Codes
344                                   42200
329                                   21631
1822 0344                             14251
325                                   10278
0344 1822                              9841
                                      ...
1822 0342 0334 0302 0432 1309 2035        1
0913 1813 1601 0419 0429 2000 1402        1
1402 0913 0329 0907                       1
0421 1202 0561                            1
0529 2024 1815 0913                       1
Name: count, Length: 310956, dtype: int64

In [9]:
df[['Crime_Method_Codes', 'Crime_Description']].head(20)

     Crime_Method_Codes                         Crime_Description
0                   NaN                          VEHICLE - STOLEN
1        1822 1402 0344                     BURGLARY FROM VEHICLE
2             0344 1251                             BIKE - STOLEN
3             0325 1501  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)
4                   NaN                          VEHICLE - STOLEN
5                   NaN                          VEHICLE - STOLEN
6   0329 1402 2004 1501                                     ARSON
7                   NaN                          VEHICLE - STOLEN
8                   NaN                          VEHICLE - STOLEN
9                   NaN                          VEHICLE - STOLEN
10                  NaN                          VEHICLE - STOLEN
11            0344 1607                                  BURGLARY
12                  NaN                          VEHICLE - STOLEN
13                  NaN                          VEHICLE - STOLEN
14                  NaN                          VEHICLE - STOLEN
15            1609 0344                                  BURGLARY
16                  NaN                          VEHICLE - STOLEN
17                  NaN                          VEHICLE - STOLEN
18                  NaN                          VEHICLE - STOLEN
19            1300 1402                                   PIMPING

In [10]:
null_Crime_Method_Codes_df = df[df['Crime_Method_Codes'].isnull()]
vehicle_stolen_null_Crime_Method_Codes_count = null_Crime_Method_Codes_df[null_Crime_Method_Codes_df['Crime_Description'] == 'VEHICLE - STOLEN'].shape[0]
print(f"Number of 'VEHICLE - STOLEN' cases with null 'Crime_Method_Codes': {vehicle_stolen_null_Crime_Method_Codes_count}")

Number of 'VEHICLE - STOLEN' cases with null 'Crime_Method_Codes': 114699

In [11]:
total_null_mocodes_count = null_Crime_Method_Codes_df.shape[0]
percentage = (vehicle_stolen_null_Crime_Method_Codes_count / total_null_mocodes_count) * 100
print(f'Percentage of null Mocodes with "VEHICLE - STOLEN": {percentage:.2f}%')

Percentage of null Mocodes with "VEHICLE - STOLEN": 75.58%

In [12]:
df.loc[(df['Crime_Description'] == 'VEHICLE - STOLEN') & (df['Crime_Method_Codes'].isnull()), 'Crime_Method_Codes'] = 'Vehicle Theft Method'
df['Crime_Method_Codes'].fillna('Unknown', inplace=True)

## Victim Gender , Victim Ethnicity

In [13]:
df['Victim_Gender'].fillna('Unknown', inplace=True)
df['Victim_Ethnicity'].fillna('Unknown', inplace=True)

## Premises code ,Premises Description

In [14]:
df['Premises_Code'].fillna('Unknown', inplace=True)
df['Premises_Description'].fillna('Unknown', inplace=True)

## Weapon Code , Weapon Description ,Status

In [15]:
df['Weapon_Description'] = df['Weapon_Description'].fillna('No Weapon Used')
df['Weapon_Code'] = df['Weapon_Code'].fillna(0) 
df['Case_Status_Code'] = df['Case_Status_Code'].fillna('Unknown')

## Additional_Crime_Code

In [ ]:
df['Additional_Crime_Code_1'].fillna('Unknown', inplace=True)
df['Additional_Crime_Code_2'].fillna('Unknown', inplace=True)  
df['Additional_Crime_Code_3'].fillna('Unknown', inplace=True)
df['Additional_Crime_Code_4'].fillna('Unknown', inplace=True)
df.drop(columns=['Nearest_Cross_Street'],inplace=True)

In [ ]:
df.isna().sum()

Crime_Case_ID                0
Reported_Date                0
Occurred_Date                0
Occurred_Time_Hour           0
Area_Code                    0
Area_Name                    0
District_SubDivision_Code    0
Crime_Severity_Part          0
Crime_Code                   0
Crime_Description            0
Crime_Method_Codes           0
Victim_Age                   0
Victim_Gender                0
Victim_Ethnicity             0
Premises_Code                0
Premises_Description         0
Weapon_Code                  0
Weapon_Description           0
Case_Status_Code             0
Case_Status_Description      0
Additional_Crime_Code_1      0
Additional_Crime_Code_2      0
Additional_Crime_Code_3      0
Additional_Crime_Code_4      0
Crime_Location_Address       0
Latitude                     0
Longitude                    0
dtype: int64

In [18]:
df.to_csv('cleaned_crime_data.csv', index=False)